<br>
<div id="question">
  <p><%= params[:question] %></p>
  <p>- You</p>
</div>
<br>
<div id="answer">
  <p><%= @answer %></p>
  <p>- Your coach</p>
</div>

<div>
  <%= link_to "Ask a new question", ask_path %>
</div>
