<div class="ask-page">
<p>Ask your coach anything</p>
<form action="/answer" data-turbo="false">
  <input class="mb-3" type="text" name="question" value="<%= params[:question] %>">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
</div>
